#OS X Crap#
##########
.DS_Store

#Build/Dist#
############
build/
dist/

#TestData
test/
testimages

*.tif
*.tiff
*.aux.xml

#Bookkeeping#
#############
TODO.txt

#VIM
*.swp
*.swo

#Python
*.pyc
*.pyo	
